%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

%% configure testing
{cover_enabled, true}.
{cover_print_enabled, true}.

{erl_opts, [debug_info, warnings_as_errors, inline]}.

{deps, [{rebar_vsn_plugin, ".*", {git, "https://github.com/erlware/rebar_vsn_plugin.git",
                                  {branch, "master"}}},
        {relcool, "",
         {git, "https://github.com/erlware/relcool.git",
          {tag, "master"}}}]}.
